<form (ngSubmit)="onSubmit()" class="login-form">
  <div>
    <label>Username:</label>
    <input type="text" [(ngModel)]="username" name="username" required />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" [(ngModel)]="password" name="password" required />
  </div>
  <button type="submit">Login</button>

  <br />
  <div
    id="g_id_onload"
    data-client_id="1050792325707-eub73vnvrvsueu3a7otn9lokmd6nv1g1.apps.googleusercontent.com"
    data-context="use"
    data-ux_mode="popup"
    data-itp_support="true"
    data-callback="handleCredentialResponse"
  ></div>
  <!-- data-auto-select="true" -->
  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="pill"
    data-theme="filled_blue"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
  ></div>
</form>

